<script setup lang="ts">
import { defineProps, ref, reactive } from 'vue';
import { useFileStore } from '../stores/useFileStore';
import { FileNode, FileTypes } from '../types';

const props = defineProps<{ tree: FileNode[] }>();
const fileStore = useFileStore();
const editingId = ref('');
const addingChildToId = ref('');
const newChildName = ref('');
const newChildType = ref('file');
const expandedState = reactive({});  // Объект для отслеживания состояния развертывания

const toggleExpand = (id: string) => {
  if (expandedState[id]) {
    expandedState[id] = false;
  } else {
    expandedState[id] = true;
  }
};

const startEdit = (id: string) => {
  editingId.value = id;
};

const saveEdit = (node: FileNode, newName: string) => {
  fileStore.renameNode(node.id, newName);
  editingId.value = '';
};

const cancelEdit = () => {
  editingId.value = '';
};

const startAddChild = (id: string) => {
  addingChildToId.value = id;
  newChildName.value = '';
};

const addChild = () => {
  if (newChildName.value.trim()) {
    const newNode: FileNode = {
      id: Date.now().toString(),
      name: newChildName.value,
      type: newChildType.value as 'file' | 'directory',
      children: []
    };
    fileStore.addNode(addingChildToId.value, newNode);
    newChildName.value = '';
    addingChildToId.value = '';
  }
};

const cancelAddChild = () => {
  addingChildToId.value = '';
};

const handleKeyUp = (event: KeyboardEvent) => {
  if (editingId.value && event.key === 'Enter') {
    const node = fileStore.findNode(editingId.value);
    if (node) {
      saveEdit(node, node.name);
    }
  }
  if (editingId.value && event.key === 'Escape') {
    cancelEdit();
  }
  if (addingChildToId.value && event.key === 'Enter') {
    addChild();
  }
  if (addingChildToId.value && event.key === 'Escape') {
    cancelAddChild();
  }
};

</script>

<template>
  <ul class="tree-view">
    <li
      class="tree-item"
      v-for="node in props.tree"
      :key="node.id"
    >
      <div class="tree-node">
        <div class="tree-node__main">
          <span
             v-if="node.type === FileTypes.Directory"
             @click="toggleExpand(node.id)"
             class="tree-node__name"
           >
          <span class="tree-node__toggle">
            <i v-if="expandedState[node.id]" class="fa-solid fa-chevron-down" />
            <i v-if="!expandedState[node.id]" class="fa-solid fa-chevron-right" />
          </span>
          <i class="tree-node__type fa-regular fa-folder" />
          {{ node.name }}
        </span>
          <span
              v-if="node.type === FileTypes.File"
              class="tree-node__name"
          >
          <i class="tree-node__type fa-solid fa-file-lines" />
          {{ node.name }}
        </span>
          <div
            v-if="editingId !== node.id && addingChildToId !== node.id"
            class="tree-node__buttons"
          >
            <button
              @click="() => fileStore.removeNode(node.id)"
              class="tree-node__remove"
              title="Удалить"
            >
              <i class="fa-regular fa-trash-can"></i>
            </button>
            <button
              @click="() => startEdit(node.id)"
              class="tree-node__start-edit"
              title="редактировать"
            >
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button
              v-if="node.type === FileTypes.Directory"
              @click="() => startAddChild(node.id)"
              class="tree-node__start-add"
              title="Добавить"
            >
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
          <div
            v-if="editingId === node.id"
            class="tree-node__edit-node"
          >
            <input
              v-focus
              v-model="node.name"
              @keyup.enter="saveEdit(node, node.name)"
              @blur="saveEdit(node, node.name)"
              class="tree-node__edit-input"
            />
            <button
              @click="cancelEdit"
              class="tree-node__edit-cancel"
              title="Отменить"
            >
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
          <div
              v-if="addingChildToId === node.id"
              class="tree-node__add-node"
          >
            <input
              v-focus
              v-model="newChildName"
              @keyup="handleKeyUp"
              placeholder="Имя"
              class="tree-node__add-input"
            />
            <select
              v-model="newChildType"
              class="tree-node__file-type"
            >
              <option value="file">File</option>
              <option value="directory">Directory</option>
            </select>
            <button
              @click="addChild"
              class="tree-node__add-submit"
              title="Сохранить"
            >
              <i class="fa-regular fa-floppy-disk"></i>
            </button>
            <button
              @click="cancelAddChild"
              class="tree-node__add-cancel"
              title="Отменить"
            >
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="tree-view__subview">
        <TreeView
            v-show="expandedState[node.id] && node.children"
            :tree="node.children"
        />
      </div>
    </li>
  </ul>
</template>

<style lang="scss" scoped>
  .tree-view {
    &__subview {
      padding-left: 1rem;
    }
  }

  .tree-item {

  }

  .tree-node {
    color: #ffffff;
    &__main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 2rem;
    }

    &__type {
      font-size: 1rem;
      margin-right: .25rem;
    }

    &__name {
      font-size: 1rem;
      font-family: 'Roboto','Helvetica Neue',Geneva,"Noto Sans Armenian","Noto Sans Bengali","Noto Sans Cherokee","Noto Sans Devanagari","Noto Sans Ethiopic","Noto Sans Georgian","Noto Sans Hebrew","Noto Sans Kannada","Noto Sans Khmer","Noto Sans Lao","Noto Sans Osmanya","Noto Sans Tamil","Noto Sans Telugu","Noto Sans Thai",arial,Tahoma,verdana,sans-serif;
    }

    &__toggle {
      display: inline-block;
      font-size: 0.75rem;
      margin-right: .5rem;
      cursor: pointer;
    }

    &__buttons  {
      display: flex;
    }

    &__remove {

    }

    &__start-edit {

    }

    &__start-add {

    }

    &__edit-node {

    }

    &__edit-input {

    }

    &__edit-cancel {

    }

    &__add-node {

    }

    &__add-input {

    }

    &__file-type {

    }

    &__add-submit {

    }

    &__add-cancel {

    }
  }

  input {
    background: rgba(255, 255, 255, 0.49);
    border: none;
    outline: none !important;
    max-width: 4.25rem;
    margin: 0 .5rem;
  }

  button {
    background: none;
    border: none;
    outline: none;
    margin: 0 .25rem;
    font-size: 1rem;
    color: #ffffff;
    cursor: pointer;
  }

  select {
    width: 3rem;
  }
</style>
