<!-- App.vue -->
<template>
  <div id="app">
    <div class="card">
      <TreeView :tree="fileStore.tree" />
    </div>
  </div>
</template>

<script setup lang="ts">
import TreeView from './components/TreeView.vue';
import { useFileStore } from './stores/useFileStore';

const fileStore = useFileStore();
</script>

<style>
#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: 0;
  background: linear-gradient(135deg, #ff0080, #8000ff);
}

.card {
  min-width: 280px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 1rem;
  border-radius: 8px;
}
</style>
